@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section > #img {
    display: block;
    background: #5F2C82 url(../img/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section > #form {
    display: block;
    padding: 10px;
}
section > #form > h1 {
    text-align: center;
    margin-bottom: 10px;
}
section > #form > p {
    font-size: 0.8em;
}
form > .campo {
    background-color: #5F2C82;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
form label {
    display: none;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1em;
    background-color: #49A09D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #397c7a;
}
form > a {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #52b4b1;
    color: #397c7a;
    border: 1px solid #397c7a;
    border-radius: 5px;
    text-decoration: none;
}
form > a:hover {
    background-color: white;
}
span  {
    margin-left: 5px;
    transform: translateY(6px);
}