@charset "UTF-8";

body {
    background-color: rgb(219, 168, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(94, 0, 94);
    background-color: darkmagenta;
}
h2 {
    color: rgb(148, 33, 148);
}
p {
    color: blueviolet;
    text-align: justify;
}