@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url('espaco.jpg') center center repeat-y fixed;
    background-size: cover;
}
img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}